.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

#TeamComposition {
  flex-direction: row;
}

#Comps {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.CompTeam {
  flex-direction: column;
}

#Blue_Compo_title {
  color: dodgerblue;
}

#Red_Compo_title {
  color: red;
}

.Composition {
  margin-bottom: 30px;
}

.Champion {
  margin: 5px;
  height: 80px;
  width: 66px;

  background-color: #343a40;

  cursor:pointer;
}

.Champion:hover {
  background-color: orange;
}